<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a href="/home">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->
<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.Rooms)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="@item.Image" alt="" width="360px" height="240px">
                        <div class="ri-text">
                            <h4>Room @item.Name</h4>
                            <h3>@item.Type.Price$<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Type:</td>
                                        <td>@item.Type.Name</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>@item.Type.Acreage m<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max @item.Type.Capacity people</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Beds:</td>
                                        <td>@item.Type.Beds</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/Room/RoomDetails?RoomId=@item.RoomId" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-12">
                <div class="room-pagination">
                    <a href="/Room?Page=@(ViewBag.CurrentPage - 1)&TypeId=@ViewBag.TypeId">Previous <i class="fa fa-long-arrow-left"></i></a>
                    @for (var i = 1; i <= ViewBag.Pages; i++)
                    {
                        <a href="/Room?Page=@i&TypeId=@ViewBag.TypeId">@i</a>
                    }
                    <a href="/Room?Page=@(ViewBag.CurrentPage + 1)&TypeId=@ViewBag.TypeId">Next <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Rooms Section End -->